html
  head
    script(src="/d3/d3.js")
    script(src="/handlebars/dist/handlebars.min.js")
    script(src="/socket.io/socket.io.js")  
    script(src="/immutable.min.js")  
    script(src="/ripple.js") 
  body
    hbs-template(data="test-data")
        {{#each this}}
        <h1>{{country}}</h1>
        {{/each}}
   
